@import "tailwindcss";

body {
  font-family: Arial, sans-serif;
  background-color: #f9fafb;
  color: #1f2937;
  margin: 0;
  padding: 0;
}
/* Hide Scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar{
display:none;
}

.no-scrollbar{
-ms-overflow-style:none;
scrollbar-width:none;
}